h1 {
    text-align: center;
    font-size: 3em;
}

.todo-page {
    padding: 2em;
    margin: 0 auto;
}

.todo-page-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}

.todo-page-layout>div {
    flex: 1;
    max-width: 600px;
}

@media (max-width: 1000px) {
    .todo-page-layout {
        flex-direction: column-reverse;
        align-items: center; 
    }

    .todo-page-layout > div {
        width: 100%;
        max-width: none;
    }
}