h1 {
    text-align: center;
    font-size: 3em;
}

.todo-page {
    margin: 0 auto;
}

.todo-page-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    text-align: center;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    text-align: center;
}

@media (max-width: 1000px) {
    .todo-page-layout {
        flex-direction: column-reverse;
        align-items: center;
    }
}